<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.madd_giftme_app">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View_payments"></activity>
        <activity
            android:name=".Admin_accepted_orders"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin_view_order"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin_new_orders"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin_order_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin_edit_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin_add_new_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin_products"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin_home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ConfirmFinalOrder" />
        <activity android:name=".AdminAddNewProductsToOccasions" />
        <activity
            android:name=".CartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StartingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AdminCategory" />
    </application>

</manifest>